footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
}

.footer__logo{
    justify-self: center;
    align-self: center;
    text-decoration: none;
    padding-bottom: 45px;
    
}

.foot__nav:visited {
    color: #FF8500;
}

.footer__logo:visited{
    color: #FF8500;
}

.footer__socials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.footer__socials a:visited {
    color: #FF8500;
}

.insta{
   display: grid;
   justify-items: flex-end;
   padding-right: 10px;
}

.foot__nav{
    text-decoration: none;
    justify-self: center;
    align-self: center;
}
